<template>
  <div>
    <Breadcrumbs :items="breadcrumbs" />
    <Loading v-if="loading" text="Lade Galerie" inline />
    <div v-else-if="!!gallery">
      <WpContent :title="gallery.title" :content="gallery.content" />
      <div class="mt-8">
        <div v-if="showCarousel" class="w-11/12 md:w-screen-50 mx-auto">
          <ImageSlider
            :images="gallery.bilder"
            :initial="sliderIndex"
            :transition="gallery.transition"
            :contain="false"
            aspect="h-screen-50 md:h-screen-75"
            close-label="[zurück zur Galerie]"
            @close="handleCarouselClose"
          />
        </div>
        <div v-else class="flex flex-row flex-wrap -mx-1">
          <div
            v-for="(image, index) in gallery.bilder"
            :key="image.ID"
            class="
              border-4 border-solid border-white rounded hover:border-primary
              h-48
              transition-colors duration-300
              cursor-pointer
            "
            @click="() => handleCarouselOpen(index)"
          >
            <img :src="image.guid" loading="lazy" alt="" class="h-full">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from '@/components/Breadcrumbs.vue'
import Loading from '@/components/LoadingIndicator.vue'
import ImageSlider from '@/components/ImageSlider.vue'

export default {
  name: 'GalleryPage',

  components: { Breadcrumbs, ImageSlider, Loading, },

  data () {
    return {
      showCarousel: false,
    }
  },

  computed: {
    slug () {
      return this.$route.params.pathMatch
    },
    loading () {
      return this.$store.state.galleries.loading
    },
    gallery () {
      return this.$store.state.galleries.entity
    },
    breadcrumbs () {
      return [
        { icon: 'bi-front', text: 'Startseite', to: '/', },
        { icon: 'bi-images', text: 'Galerieübersicht', to: '/galerien', },
        { icon: 'bi-image', text: this.gallery?.title, },
      ]
    },
  },

  mounted () {
    this.$store.dispatch('galleries/load', {
      api: this.$wp,
      slug: this.slug,
    })
  },

  methods: {
    handleCarouselOpen (index) {
      this.showCarousel = true
      this.sliderIndex = index
    },
    handleCarouselClose () {
      this.showCarousel = false
    },
  },
}
</script>
