<template>
  <div>
    <Breadcrumbs :items="breadcrumbs" />
    <h1>GALERIEÜBERSICHT</h1>
    <GalleryList
      store="galleries"
      size="w-full sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/4 text-center"
      :fields="[
        'title',
        'uiDate',
      ]"
      txt-empty="Keine Galerien gefunden."
      txt-loading="Lade Galerien"
      txt-more="Aber es gibt noch Galerien, die noch nicht geladen wurden."
      txt-older="ältere Galerien"
      txt-placeholder="Suche nach bestimmten Galerien (in Titel und Datum)"
    >
      <template #default="slotProps">
        <GalleryCard :gallery="slotProps.entity" :stretch="true" />
      </template>
    </GalleryList>
  </div>
</template>

<script>
import GalleryCard from '@/components/GalleryCard.vue'
import GalleryList from '@/components/SearchableListHorizontal.vue'

export default {
  name: 'GalleryOverview',

  components: {
    GalleryCard,
    GalleryList,
  },

  computed: {
    breadcrumbs () {
      return [
        { icon: 'bi-front', text: 'Startseite', to: '/', },
        { icon: 'bi-images', text: 'Galerien', to: '/galerien', },
      ]
    },
  },

  mounted () {
    this.$store.dispatch('galleries/load', {
      api: this.$wp,
    })
  },
}
</script>
