h1 {
  @apply font-bold;
  @apply text-4xl;
  @apply mb-4;
}

h2 {
  @apply font-bold;
  @apply text-3xl;
  @apply leading-normal;
}

h3 {
  @apply font-bold;
  @apply text-2xl;
  @apply leading-normal;
}

h4 {
  @apply font-bold;
  @apply text-xl;
  @apply leading-normal;
}

p {
  @apply py-2;
}

figure {
  @apply py-6;
}

figure img {
  @apply rounded-2xl;
}

figure figcaption {
  @apply font-mono;
  @apply text-xs;
  @apply text-gray-500;
}

ul {
  @apply pb-2;
  @apply list-disc;
  @apply pl-4;
}

/*===================================================================== #editor ===*/
.wp-block {
  @apply max-w-none;
  @apply mx-0;
}

.wp-block-post-content {
  @apply max-w-screen-xl;
  @apply mx-auto;
}

/*============================================================ wp-block-gallery ===*/
.wp-block-gallery {
  @apply flex;
  @apply flex-col;
  @apply md:flex-row;
  @apply justify-center;
  @apply -mx-4
}

.wp-block-gallery .wp-block-image {
  @apply px-4;
}

.wp-block-gallery .wp-block-image img {
  @apply rounded-2xl;
}

/*============================================================ wp-block-columns ===*/
.wp-block-columns {
  @apply flex;
  @apply flex-col;
  @apply md:flex-row;
  @apply -mx-4
}

.wp-block-columns .wp-block-column {
  @apply flex-auto;
  @apply px-4;
}

.wp-block-columns .wp-block-image {
  @apply py-2;
}

.wp-block-columns .wp-block-image img {
  @apply rounded-2xl;
}
