<template>
  <div>
    <Breadcrumbs :items="breadcrumbs" />
    <WpContent :title="wpPage.title" :content="wpPage.content" />
    <div v-if="!!isCategoryPage">
      <hr class="border-gray-300 my-8">
      <h3>Gallerien:</h3>
      <HorizontalList
        store="galleries"
        store-property="byCategory"
        :searchable="false"
        size="w-full sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/4 text-center"
        :fields="[
          'title',
          'uiDate',
        ]"
        txt-empty="Keine Galerien gefunden."
        txt-loading="Lade Galerien"
      >
        <template #default="slotProps">
          <GalleryCard :gallery="slotProps.entity" :stretch="true" />
        </template>
      </HorizontalList>
      <hr class="border-gray-300 my-8">
      <div class="flex flex-col md:flex-row flex-nowrap">
        <div class="flex-auto">
          <h3>Termine:</h3>
          <HorizontalList
            store="dates"
            store-property="byCategory"
            :searchable="false"
            size="w-full text-center"
            :fields="[
              'title',
              'uiFirstDay',
              'uiLastDay',
            ]"
            txt-empty="Keine Termine gefunden."
            txt-loading="Lade Termine"
          >
            <template #default="slotProps">
              <DateCard :date="slotProps.entity" :stretch="true" />
            </template>
          </HorizontalList>
        </div>
        <div class="hidden md:block flex-grow-0 flex-shrink-0 border-l-2 border-solid border-border-gray-300 ml-8 pr-8" />
        <hr class="block md:hidden border-gray-300 my-8">
        <div class="flex-auto">
          <h3>News:</h3>
          <HorizontalList
            store="news"
            store-property="byCategory"
            :searchable="false"
            size="w-full lg:w-1/2"
            :fields="[
              'title',
              'excerpt',
              'uiDate',
            ]"
            txt-empty="Keine Beiträge gefunden."
            txt-loading="Lade Beiträge"
          >
            <template #default="slotProps">
              <NewsCard :post="slotProps.entity" :stretch="true" />
            </template>
          </HorizontalList>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import WpContent from '@/components/WpContent.vue'
import DateCard from '@/components/DateCard.vue'
import GalleryCard from '@/components/GalleryCard.vue'
import HorizontalList from '@/components/SearchableListHorizontal.vue'
import NewsCard from '@/components/NewsCard.vue'

export default {
  name: 'CatchAllPage',

  components: {
    DateCard,
    GalleryCard,
    HorizontalList,
    NewsCard,
    WpContent,
  },

  async asyncData (ctx) {
    const slug = ctx.route.params.pathMatch

    return {
      response: await ctx.$wp('pages', {
        params: [
          `slug=${slug}`,
          '_fields[]=content',
          '_fields[]=id',
          '_fields[]=title',
          '_fields[]=kategorie',
        ],
      }),
    }
  },

  computed: {
    wpPage () {
      const entities = this.response.data || []
      const entity = entities[0] || {}
      return {
        id: entity.id,
        title: this.$wpRendered(entity.title),
        content: this.$wpRendered(entity.content),
        categories: (entity.kategorie || []).map(entry => entry.id),
      }
    },
    isCategoryPage () {
      const page = this.wpPage || {}
      const categories = Array.isArray(page.categories) ? page.categories : []
      return categories.length > 0
    },
    breadcrumbs () {
      return [
        { icon: 'bi-front', text: 'Startseite', to: '/', },
        { icon: 'bi-file-earmark-richtext', text: this.wpPage.title, },
      ]
    },
  },

  mounted () {
    if (this.isCategoryPage) {
      this.$store.dispatch('galleries/loadByCategory', {
        api: this.$wp,
        category: this.wpPage.categories[0],
      })
      this.$store.dispatch('dates/loadByCategory', {
        api: this.$wp,
        category: this.wpPage.categories[0],
      })
      this.$store.dispatch('news/loadByCategory', {
        api: this.$wp,
        category: this.wpPage.categories[0],
      })
    }
  },
}
</script>
