<template>
  <h1>Hallo {{ uiName }}, willkommen zurück.</h1>
</template>

<script>
export default {
  name: 'DashboardPage',

  computed: {
    uiName () {
      return this.$store.getters['auth/uiName']
    },
  },
}
</script>
