<template>
  <div>
    <WpContent :title="wpPage.title" />
    <div class="flex flex-row flex-wrap -mx-4">
      <div class="w-full lg:w-2/3 grow-0 shrink-0 p-4">
        <ImageSlider
          :images="wpSlider.bilder"
          :transition="wpSlider.transition"
          :autoplay="3000"
          aspect="pt-16/9"
        />
        <WpContent class="hidden lg:block mt-8" :content="wpPage.content" />
      </div>
      <div class="w-full lg:w-1/3 grow-0 shrink-0 px-4">
        <Calendar />
        <NewsList :limit="5" />
      </div>
    </div>
    <WpContent class="lg:hidden" :content="wpPage.content" />
  </div>
</template>

<script>
// import BSCArrow from '@/components/BSCArrow'
import Calendar from '@/components/DateCalendar'
import NewsList from '@/components/NewsListVertical.vue'
import WpContent from '@/components/WpContent.vue'

export default {
  name: 'AppIndex',

  components: {
    // BSCArrow,
    Calendar,
    NewsList,
    WpContent,
  },

  async asyncData (ctx) {
    return {
      wpPageResponse: await ctx.$wp('pages', {
        params: [
          'slug=startseite',
          '_fields[]=id',
          '_fields[]=title',
          '_fields[]=content',
        ],
      }),

      wpSliderResponse: await ctx.$wp('galerie', {
        params: [
          'slug=startseite',
          '_fields[]=transition',
          '_fields[]=bilder',
        ],
      }),
    }
  },

  data () {
    return {}
  },

  computed: {
    wpPage () {
      const entries = this.wpPageResponse.data || []
      const entry = entries[0] || {}

      return {
        title: this.$wpRendered(entry.title),
        content: this.$wpRendered(entry.content),
      }
    },

    wpSlider () {
      const entries = this.wpSliderResponse.data || []
      const entry = entries[0] || {}

      const bilder = entry.bilder || []

      const transitionWrapper = entry.transition || []
      const transition = transitionWrapper[0] || 'slide'

      return {
        bilder,
        transition,
      }
    },
  },

  mounted () {
    this.$store.dispatch('news/load', {
      api: this.$wp,
    })
    this.$store.dispatch('dates/load', {
      api: this.$wp,
    })
  },
}
</script>
