<template>
  <div class="w-80 mx-auto mt-20">
    <div class="form-control">
      <label class="label font-bold">
        <span class="label-text">BSC E-Mail-Adresse <sup class="text-secondary">*</sup></span>
      </label>
      <input
        v-model="identifier"
        type="text"
        placeholder="Deine.Email@the-bowmen.de"
        class="input input-bordered w-full"
        :class="{
          'input-error': $v.identifier.$error
        }"
      >
      <label v-if="$v.identifier.$error.required" class="label">
        <span class="label-text text-error">Bitte Deine E-Mail-Adresse angeben!</span>
      </label>
      <label v-if="$v.identifier.$error.email" class="label">
        <span class="label-text text-error">Bitte Deine E-Mail-Adresse angeben!</span>
      </label>
    </div>
    <div class="form-control pt-4">
      <label class="label">
        <span class="label-text font-bold">Passwort <sup class="text-secondary">*</sup></span>
        <nuxt-link to="/passwort-vergessen" tabindex="-1">
          <small class="label-text-alt text-primary">Vergessen?</small>
        </nuxt-link>
      </label>
      <input
        v-model="secret"
        type="password"
        class="input input-bordered w-full"
        :class="{
          'input-error': $v.secret.$error
        }"
        @blur="() => $v.secret.$touch()"
      >
      <label v-if="$v.secret.$error.required" class="label">
        <span class="label-text text-error">Bitte das Passwort angeben!</span>
      </label>
    </div>
    <div class="form-control pt-8">
      <button
        class="btn btn-primary w-full"
        :class="{
          'loading': formState === 'PENDING'
        }"
        @click="handleSubmit"
      >
        Jetzt anmelden
      </button>
    </div>
    <div class="form-control pt-8">
      <p>
        Du bist Vereinsmitglied, aber hast noch keinen Zugang?
      </p>
      <p>
        <span>Dann kannst Du Dich</span>
        <nuxt-link class="text-primary" to="/registrieren">
          hier registrieren
        </nuxt-link>
        <span>.</span>
      </p>
      <p>
        Du benötigst dafür nur <strong>Deine BSC E-Mail-Adresse.</strong>
      </p>
    </div>
  </div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'

export default {
  name: 'LoginPage',

  data () {
    return {
      formState: 'INPUT',
      identifier: '',
      secret: '',
    }
  },

  validations: {
    identifier: {
      required,
      email,
    },
    secret: {
      required,
    },
  },

  methods: {
    async handleSubmit () {
      this.formState = 'PENDING'
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.formState = 'ERROR_LOCAL'
      } else {
        await this.$store.dispatch('auth/loginByCredentials', {
          api: this.$wp,
          email: this.identifier,
          password: this.secret,
        })
        if (!this.$store.state.auth.jwt) {
          this.formState = 'ERROR_REMOTE'
        } else {
          this.formState = 'SUCCESS'

          await this.$store.dispatch('dates/reset', { api: this.$wp, })
          await this.$store.dispatch('galleries/reset', { api: this.$wp, })
          await this.$store.dispatch('news/reset', { api: this.$wp, })

          this.$router.push('/dashboard')
        }
      }
    },
  },
}
</script>
