<template>
  <div>
    <div class="py-8 text-center text-bold text-2xl">
      Du bist jetzt abgemeldet.
    </div>
    <div class="py-8 text-center">
      Bis zum nächsten mal.
    </div>
  </div>
</template>

<script>
export default {
  name: 'LogoutPage',

  async mounted () {
    await this.$store.dispatch('auth/logout', { api: this.$wp, })

    await this.$store.dispatch('dates/reset', { api: this.$wp, })
    await this.$store.dispatch('galleries/reset', { api: this.$wp, })
    await this.$store.dispatch('news/reset', { api: this.$wp, })

    await this.$router.push('/')
  },
}
</script>
