<template>
  <div class="w-80 sm:w-96 mx-auto mt-20">
    <div class="form-control">
      <label class="label font-bold">
        <span class="label-text">BSC E-Mail-Adresse <sup class="text-secondary">*</sup></span>
      </label>
      <input
        v-model="identifier"
        type="text"
        placeholder="Deine.Email@the-bowmen.de"
        class="input input-bordered w-full"
        :disabled="formState !== 'INPUT'"
        :class="{
          'input-error': $v.identifier.$error
        }"
      >
      <div v-if="$v.identifier.$error">
        <label v-if="!$v.identifier.required" class="label">
          <span class="label-text text-error">Bitte Deine E-Mail-Adresse angeben!</span>
        </label>
        <label v-if="!$v.identifier.email" class="label">
          <span class="label-text text-error">Bitte eine E-Mail-Adresse angeben!</span>
        </label>
        <label v-if="$v.identifier.email && !$v.identifier.mustBeBscEmail" class="label">
          <span class="label-text text-error">Die E-Mail-Adresse muss vom BSC Glauchau sein.</span>
        </label>
      </div>
    </div>

    <div v-if="formState === 'INPUT' || formState === 'PENDING'" class="form-control pt-8">
      <button
        class="btn btn-primary w-full"
        :class="{
          'loading': formState === 'PENDING'
        }"
        @click="handleSubmit"
      >
        Jetzt registrieren
      </button>

      <div class="mt-4">
        <nuxt-link to="/login">
          <button class="btn btn-link w-full">
            Zurück zum Login
          </button>
        </nuxt-link>
      </div>
    </div>

    <div v-if="formState === 'ERROR'" class="form-control pt-8">
      <div class="text-red-600">
        Die Registrierung konnte nicht durchgeführt werden.
      </div>
      <div class="mt-4">
        Falls die Email-Adresse bereits registriert ist, kannst Du versuchen, über die Funktion
        <nuxt-link to="/passwort-vergessen" tabindex="-1" class="text-primary">
          Passwort vergessen
        </nuxt-link> Dein Passwort neu zu setzen.
      </div>
      <div class="mt-4">
        Sollte das nicht funktionieren, sende bitte eine Mail an <a class="text-primary" href="mailto:info@the-bowmen.de">info@the-bowmen.de</a>
        und berichte von der Situation, damit wir das prüfen und Dir helfen können. Vielen Dank.
      </div>
      <div class="mt-4">
        <nuxt-link to="/login">
          <button class="btn btn-link w-full">
            Zurück zum Login
          </button>
        </nuxt-link>
      </div>
    </div>

    <div v-if="formState === 'SUCCESS'" class="form-control pt-8">
      <div class="text-green-600">
        Die Registrierung war erfolgreich?
      </div>
      <div class="mt-4">
        Wir haben Dir an die obige Email-Adresse eine Email gesendet. Diese Email beinhaltet einen Link.
      </div>
      <div class="mt-4">
        Bitte klicke auf den Link und schließe Deine Registrierung ab, indem Du Dein Passwort festlegst.
      </div>
      <div class="mt-4">
        Danach kannst Du Dich mit der obigen Email und dem Passwort im internen Bereich anmelden.
      </div>
      <div class="mt-4">
        Danke für Deine Mitarbeit.
      </div>
      <div class="mt-4">
        <nuxt-link to="/login">
          <button class="btn btn-link w-full">
            Zurück zum Login
          </button>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import { helpers, required, email } from 'vuelidate/lib/validators'

const mustBeBscEmail = helpers.regex('identifier', /^[^ ]*@the-bowmen.de$/i)

export default {
  name: 'RegisterPage',

  data () {
    return {
      identifier: '',
    }
  },

  validations: {
    identifier: {
      required,
      email,
      mustBeBscEmail,
    },
  },

  computed: {
    formState () {
      return this.$store.state.auth.registrationState
    },
    authcode () {
      return this.$store.state.runtime.AUTHCODE
    },
  },

  mounted () {
    this.handleTryAgain()
  },

  methods: {
    async handleSubmit () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        await this.$store.dispatch('auth/registerByCredentials', {
          api: this.$wp,
          email: this.identifier,
          authcode: this.authcode,
        })
      }
    },
    handleTryAgain () {
      this.$store.commit('auth/setRegistrationState', 'INPUT')
    },
  },
}
</script>
