<template>
  <div class="text-sm breadcrumbs text-gray-500 hover:text-gray-700 mb-8">
    <ul class="px-0">
      <li v-for="(item, index) in items" :key="`breadcrumb-${item.icon}`">
        <span v-if="index === items.length - 1" class="cursor-default"><i class="mr-2" :class="item.icon" />{{ item.text }}</span>
        <nuxt-link v-else :to="item.to">
          <i class="mr-2" :class="item.icon" /> {{ item.text || '...loading' }}
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'BreadCrumbs',

  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
}
</script>
