<template>
  <div class="w-full py-4 inline-block" :class="{'h-full': !!stretch}">
    <nuxt-link v-if="!!date.slug" :to="`/termine/${date.slug}`">
      <div class="flex flex-col w-full rounded-2xl shadow hover:shadow-xl" :class="{'h-full': !!stretch}">
        <div class="text-left font-bold p-4 text-xl bg-gray-100 rounded-t-2xl">
          {{ date.title }}
        </div>
        <div class="flex flex-row flex-nowrap w-full items-center">
          <div class="flex-grow-0 flex-shrink-0 p-4 font-bold text-3xl">
            {{ date.uiFirstDay }}
          </div>
          <div class="flex-grow flex-shrink rounded-tr-2xl">
            <div class="flex flex-col p-4 h-full text-left">
              <div>bis: {{ date.uiLastDay }}</div>
              <div>Beginn: {{ date.uiStartTime }} Uhr</div>
              <div>Ende: ca. {{ date.uiEndTime }} Uhr</div>
            </div>
          </div>
        </div>
      </div>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  name: 'DateCard',

  props: {
    date: {
      type: Object,
      default: () => ({}),
    },
    stretch: {
      type: Boolean,
      default: false,
    },
  },
}
</script>
