<template>
  <div id="footer" class="-mx-6 md:mx-0">
    <footer class="rounded-none md:rounded-t-2xl bg-gray-800 text-gray-300 p-8">
      <div class="flex flex-col md:flex-row flex-nowrap items-center md:items-start">
        <div
          v-for="item in items"
          :key="item.ID"
          class="flex-auto last:flex-grow-0 last:flex-shrink-0 pb-4 last:pb-0 md:pb-0"
        >
          <div class="uppercase font-bold pb-4 text-gray-100">
            {{ item.title }}
          </div>
          <a
            v-for="child in (item.children || [])"
            :key="child.ID"
            :href="child.url"
            class="block py-2 hover:text-white"
          >
            {{ child.title }}
          </a>
        </div>
      </div>
    </footer>
    <footer class="p-8 bg-gray-800 text-gray-100 text-center">
      <div>
        <p>Copyright &copy; {{ currentYear }} - Bogensportclub Glauchau e.V. </p>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'PageFooter',

  computed: {
    currentYear () {
      return this.$dateFns.format(new Date(), 'Y')
    },
    items () {
      return this.$store.state.menu.footer || []
    },
  },

  async mounted () {
    await this.$store.dispatch('menu/loadMenu', {
      api: this.$wp,
      name: 'footer',
    })
  },
}
</script>
