<template>
  <div class="w-full py-4 inline-block" :class="{'h-full': !!stretch}">
    <nuxt-link v-if="!!gallery.slug" :to="`/galerien/${gallery.slug}`">
      <div class="flex flex-col w-full rounded-2xl shadow hover:shadow-xl" :class="{'h-full': !!stretch}">
        <div class="w-full flex-grow-0 flex-shrink-0">
          <img :src="gallery.thumbnail" alt="" class="w-full h-42 object-cover rounded-t-2xl">
        </div>
        <div v-if="!!gallery.uiDate" class="flex flex-row flex-nowrap justify-between text-sm text-gray-500 p-4 pb-0">
          <div>{{ gallery.uiDate }}</div>
          <div>{{ gallery.bilder === 0 ? 'keine Bilder' : (gallery.bilder === 1) ? '1 Bild' : `${gallery.bilder} Bilder` }}</div>
        </div>
        <div class="font-bold text-left p-4 pt-0">
          {{ gallery.title }}
        </div>
      </div>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  name: 'GalleryCard',

  props: {
    gallery: {
      type: Object,
      default: () => ({}),
    },
    stretch: {
      type: Boolean,
      default: false,
    },
  },
}
</script>
