<template>
  <div
    class="relative w-full bg-gray-100 rounded-2xl group"
    :class="[
      aspect,
      {
        'mt-8': !!closeLabel
      },
    ]"
    @mouseenter="handleMouseEnter"
    @mouseleave="handleMouseLeave"
  >
    <div
      v-if="!!closeLabel"
      class="absolute -top-8 left-0 w-full pb-4 text-center cursor-pointer text-gray-500 hover:text-primary"
      @click="() => $emit('close')"
    >
      <small>{{ closeLabel }}</small>
    </div>

    <TransitionGroup :name="galleryTransition" tag="div" class="absolute top-0 left-0 w-full h-full rounded-2xl overflow-hidden">
      <div v-for="(image, index) in images" v-show="index === sliderIndex" :key="index" class="absolute top-0 left-0 w-full h-full">
        <img
          :src="image.guid"
          class="w-full h-full"
          :class="{
            'object-cover': !contain,
            'object-contain': !!contain,
          }"
        >
      </div>
    </TransitionGroup>

    <div
      class="
        flex md:hidden justify-between
        absolute bottom-0 left-0 w-full
        text-5xl font-bold
        group-hover:opacity-80
        transition-opacity duration-300
      "
      :class="{
        'opacity-25': !doPlay,
        'opacity-0': !!doPlay,
      }"
    >
      <i
        class="bi-chevron-left w-1/2 p-4 rounded-bl-2xl text-left bg-gray-300 hover:bg-gray-700 text-white transition-colors duration-300 cursor-pointer"
        @click="handlePrevImage"
      />
      <i
        class="bi-chevron-right w-1/2 p-4 rounded-br-2xl text-right bg-gray-300 hover:bg-gray-700 text-white transition-colors duration-300 cursor-pointer"
        @click="handleNextImage"
      />
    </div>

    <div
      class="
        hidden md:flex justify-between
        absolute bottom-1/2 left-0 w-full translate-y-1/2
        text-5xl font-bold
        group-hover:opacity-80
        transition-opacity duration-300
      "
      :class="{
        'opacity-25': !doPlay,
        'opacity-0': !!doPlay,
      }"
    >
      <i
        class="bi-chevron-left ml-4 rounded-full p-4 bg-gray-300 hover:bg-gray-700 text-white transition-colors duration-300 cursor-pointer"
        @click="handlePrevImage"
      />
      <i
        class="bi-chevron-right mr-4 rounded-full p-4 bg-gray-300 hover:bg-gray-700 text-white transition-colors duration-300 cursor-pointer"
        @click="handleNextImage"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'ImageSlider',

  props: {
    transition: {
      type: String,
      default: 'fade',
    },
    images: {
      type: Array,
      default: () => [],
    },
    initial: {
      type: Number,
      default: 0,
    },
    closeLabel: {
      type: String,
      default: '',
    },
    aspect: {
      type: String,
      default: 'pt-4/3',
    },
    contain: {
      type: Boolean,
      default: false,
    },
    autoplay: {
      type: Number,
      default: undefined,
    },
  },

  data () {
    return {
      sliderIndex: this.initial,
      sliderDirection: '',
      interval: undefined,
      mouseOver: false,
    }
  },

  computed: {
    imageCount () {
      return this.images.length
    },
    galleryTransition () {
      return this.transition === 'slide' ? `${this.transition}${this.sliderDirection}` : this.transition
    },
    doPlay () {
      return (this.autoplay && !this.mouseOver) || !this.autoplay
    },
  },

  mounted () {
    if (this.autoplay) {
      this.interval = setInterval(this.handleAutoPlay, this.autoplay)
    }
  },

  beforeDestroy () {
    if (this.interval) {
      clearInterval(this.interval)
    }
  },

  methods: {
    handleAutoPlay () {
      if (this.doPlay) {
        this.handleNextImage()
      }
    },
    handleNextImage () {
      this.sliderIndex = (this.imageCount + this.sliderIndex + 1) % this.imageCount
      this.sliderDirection = this.galleryTransition.startsWith('slide') ? 'Left' : ''
    },
    handlePrevImage () {
      this.sliderIndex = (this.imageCount + this.sliderIndex - 1) % this.imageCount
      this.sliderDirection = this.galleryTransition.startsWith('slide') ? 'Right' : ''
    },
    handleMouseEnter () {
      this.mouseOver = true
    },
    handleMouseLeave () {
      this.mouseOver = false
    },
  },
}
</script>

<style>
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  .fade-enter-to,
  .fade-leave {
    opacity: 1;
  }

  .slideLeft-enter-active,
  .slideLeft-leave-active,
  .slideRight-enter-active,
  .slideRight-leave-active {
    transition: transform 0.5s;
  }

  .slideLeft-leave-to,
  .slideRight-enter {
    transform: translateX(-100%);
  }

  .slideLeft-enter-to,
  .slideLeft-leave,
  .slideRight-enter-to,
  .slideRight-leave {
    transform: translateX(0);
  }

  .slideLeft-enter,
  .slideRight-leave-to {
    transform: translateX(100%);
  }
</style>
