<template>
  <div
    class="flex flex-col items-center text-gray-300"
    :class="{
      'h-screen-50 md:h-screen-80 py-48': !inline,
      'py-8': inline
    }"
  >
    <div class="text-5xl">
      <div class="bi-arrow-clockwise animate-spin" />
    </div>
    <div v-if="!!text" class="text-2xl mt-8">
      {{ text }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'LoadingIndicator',

  props: {
    text: {
      type: String,
      default: '',
    },
    inline: {
      type: Boolean,
      default: false,
    },
  },
}
</script>
