<template>
  <div
    class="
      fixed
      left-0
      w-72 h-24
      border border-l-0 border-solid border-gray-300 hover:border-gray-700 rounded-r-2xl
      bg-white hover:bg-gray-100
      text-gray-300 hover:text-gray-700
      cursor-pointer
      transition-all duration-300
      z-modal-2
    "
    :class="[
      !hidden && !!main ? ['-translate-x-48', 'hover:translate-x-0'] : '',
      !hidden && !main ? ['-translate-x-72', 'md:-translate-x-48', 'hover:translate-x-0'] : '',
      !!hidden && !!main ? ['translate-x-0'] : '',
      !!hidden && !main ? ['-translate-x-72'] : ''
    ]"
    :style="{
      top: `calc(1rem + (${nr - 1} * 7rem))`
    }"
    @click="() => $emit('click')"
  >
    <div class="flex flex-row flex-nowrap w-full h-full items-center">
      <div class="w-48 grow-0 shrink-0 pl-4 text-left text-4xl text-gray-700">
        {{ text }}
      </div>
      <div class="w-24 h-24 grow-0 shrink-0 py-2">
        <img v-if="!!image" src="@/assets/img/logo-bsc.svg" :alt="text" class="w-full h-full object-contain">
        <div v-else-if="!!icon" :class="[icon, 'w-full', 'h-full', 'text-7xl', 'text-center']" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MenuItem',

  props: {
    nr: {
      type: Number,
      required: true
    },
    icon: {
      type: String,
      default: ''
    },
    image: {
      type: String,
      default: ''
    },
    text: {
      type: String,
      required: true
    },
    hidden: {
      type: Boolean,
      default: false
    },
    main: {
      type: Boolean,
      default: false
    },
    active: {
      type: Boolean,
      default: false
    }
  }
}
</script>
