<template>
  <div class="px-8 cursor-pointer">
    <div v-if="!url" class="">
      <div class="relative w-full py-4" @click="onClick">
        <div
          class="h-full absolute py-4 right-0 top-1/2 transform -translate-y-1/2"
          :class="{
            'bi-chevron-left': !open,
            'bi-chevron-down': !!open,
          }"
        />
        {{ text }}
      </div>
      <div v-show="!!open">
        <slot />
      </div>
    </div>
    <a v-else-if="!internal" :href="url" target="_blank" class="block py-4" @click="onClick">
      {{ text }}
    </a>
    <nuxt-link v-else-if="!!internal" :to="url" class="block py-4" @click.native="onClick">
      {{ text }}
    </nuxt-link>
  </div>
</template>

<script>
export default {
  name: 'MenuLink',

  props: {
    internal: {
      type: Boolean,
      default: true,
    },
    text: {
      type: String,
      default: '',
    },
    open: {
      type: Boolean,
      default: false,
    },
    url: {
      type: String,
      default: '',
    },
  },

  methods: {
    onClick () {
      this.$emit('click')
    },
  },
}
</script>
