<template>
  <Loading v-if="posts.length == 0" />
  <div v-else class="w-full">
    <NewsCard
      v-for="post in posts"
      :key="post.id"
      :post="post"
    />
    <nuxt-link to="/neuigkeiten">
      <div class="text-blue-600 text-sm text-center py-8 cursor-pointer">
        [ weitere Beiträge ]
      </div>
    </nuxt-link>
  </div>
</template>

<script>
import Loading from '@/components/LoadingIndicator.vue'
import NewsCard from '@/components/NewsCard.vue'

export default {
  name: 'NewsListVertical',

  components: {
    Loading,
    NewsCard,
  },

  props: {
    limit: {
      type: Number,
      default: 5,
    },
  },

  computed: {
    loading () {
      return this.$store.state.news.loading
    },
    posts () {
      return this.$store.state.news.entities.slice(0, this.limit)
    },
  },
}
</script>
