<template>
  <div class="w-full py-4 inline-block" :class="{'h-full': !!stretch}">
    <nuxt-link v-if="!!post.slug" :to="`/neuigkeiten/${post.slug}`">
      <div class="flex flex-col w-full rounded-2xl shadow hover:shadow-xl" :class="{'h-full': !!stretch}">
        <div class="flex flex-row flex-nowrap w-full h-24">
          <div class="w-36 flex-grow-0 flex-shrink-0">
            <img :src="post.thumbnail" alt="" class="h-full object-cover rounded-tl-2xl">
          </div>
          <div class="flex-grow flex-shrink bg-gray-100 rounded-tr-2xl">
            <div class="flex flex-col px-4 h-full justify-center">
              <div v-if="!!post.uiDate" class="text-sm">
                {{ post.uiDate }}
              </div>
              <div class="font-bold">
                {{ post.title }}
              </div>
            </div>
          </div>
        </div>
        <div class="px-4 pt-0 pb-2">
          {{ /* eslint-disable-next-line vue/no-v-html */ }}
          <div v-if="!!post.excerpt" class="text-sm h-full overflow-hidden" v-html="post.excerpt" />
        </div>
      </div>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  name: 'NewsCard',

  props: {
    post: {
      type: Object,
      default: () => ({}),
    },
    stretch: {
      type: Boolean,
      default: false,
    },
  },
}
</script>
