<template>
  <div>
    <div v-if="searchable" class="flex flex-row flex-nowrap justify-center sm:justify-start mb-8">
      <div class="w-full sm:w-2/3 md:1/2">
        <SearchInput
          v-model="needle"
          :debounce="debounce"
          :placeholder="txtPlaceholder"
        />
      </div>
    </div>

    <Loading v-if="entities.length === 0 && loading" :text="txtLoading" inline />
    <div v-else-if="filteredEntities.length > 0" class="-mx-4 flex flex-row flex-wrap justify-center sm:justify-start">
      <div v-for="entity in filteredEntities" :key="entity.id" class="px-4" :class="size">
        <slot :entity="entity" />
      </div>
    </div>
    <div v-else class="text-center text-blue-600">
      <div class="text-blue-600 text-lg text-center py-2">
        {{ txtEmpty }}
      </div>
      <div
        v-if="hasMorePages"
        class="text-blue-600 italic text-center py-2"
      >
        {{ txtMore }}
      </div>
    </div>

    <div
      v-if="hasMorePages && !loading"
      class="text-blue-600 text-sm text-center py-8 cursor-pointer"
      @click="handleNextPage"
    >
      [ {{ txtOlder }} {{ needle ? 'durchsuchen ': '' }}]
    </div>
    <Loading v-else-if="hasMorePages && loading" inline />
  </div>
</template>

<script>
import Loading from '@/components/LoadingIndicator.vue'
import SearchInput from '@/components/SearchInput.vue'

export default {
  name: 'SearchableListHorizontal',

  components: {
    Loading,
    SearchInput,
  },

  props: {
    debounce: {
      type: Number,
      default: 500,
    },
    exclude: {
      type: [String, Number,],
      default: '',
    },
    fields: {
      type: Array,
      default: () => [],
    },
    getter: {
      type: String,
      default: '',
    },
    getterArgs: {
      type: Object,
      default: undefined,
    },
    searchable: {
      type: Boolean,
      default: true,
    },
    size: {
      type: String,
      default: '',
    },
    store: {
      type: String,
      required: true,
    },
    storeProperty: {
      type: String,
      default: 'entities',
    },
    txtEmpty: {
      type: String,
      default: 'Keine Daten gefunden.',
    },
    txtLoading: {
      type: String,
      default: '',
    },
    txtMore: {
      type: String,
      default: 'Aber es gibt noch Daten, die noch nicht geladen wurden.',
    },
    txtOlder: {
      type: String,
      default: 'Ältere Daten',
    },
    txtPlaceholder: {
      type: String,
      default: 'Suche',
    },
  },

  data () {
    return {
      needle: '',
    }
  },

  computed: {
    loading () {
      return this.$store.state[this.store].loading
    },
    entities () {
      let entities
      if (this.getterArgs) {
        entities = this.$store.getters[this.getter](this.getterArgs)
      } else if (this.getter) {
        entities = this.$store.getters[this.getter]
      } else {
        entities = this.$store.state[this.store][this.storeProperty]
      }
      return this.exclude
        ? entities.filter(entity => entity.id !== this.exclude)
        : entities
    },
    filteredEntities () {
      return (this.needle && this.fields.length > 0)
        ? this.entities.filter((entity) => {
          return this.fields.reduce((result, field) => {
            return result || this.$strictSearch(this.needle, entity[field])
          }, false)
        })
        : this.entities
    },
    hasMorePages () {
      return this.$store.getters[`${this.store}/hasNextPage`]
    },
  },

  methods: {
    handleNextPage () {
      this.$store.dispatch(`${this.store}/loadNextPage`, {
        api: this.$wp,
      })
    },
  },
}
</script>
