<template>
  <div>
    <div class="form-control">
      <label class="input-group">
        <span>
          <span
            class="px-0"
            :class="busy ? 'bi-arrow-repeat animate-spin' : 'bi-search'"
            @click="handleInputEmit"
          />
        </span>
        <input
          type="text"
          :placeholder="placeholder"
          class="input input-bordered w-full"
          :value="input"
          @input="handleInput"
        >
        <span
          v-if="input.length > 0"
          class="bi-trash"
          @click="handleInputDelete"
        />
      </label>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SearchInput',

  props: {
    value: {
      type: String,
      default: '',
    },
    debounce: {
      type: Number,
      default: 0,
    },
    placeholder: {
      type: String,
      default: 'Suche',
    },
  },

  data () {
    return {
      debounceTimout: undefined,
      input: this.value,
      busy: false,
    }
  },

  beforeUnmount () {
    if (this.debounceTimout) {
      clearTimeout(this.debounceTimout)
      this.busy = false
    }
  },

  methods: {
    handleInput (e) {
      this.input = e.target?.value || ''
      if (this.debounce > 0) {
        this.busy = true
        if (this.debounceTimout) {
          clearTimeout(this.debounceTimout)
        }
        this.debounceTimout = setTimeout(() => {
          this.handleInputEmit()
        }, this.debounce)
      } else {
        this.handleInputEmit()
      }
    },

    handleInputEmit () {
      this.$emit('input', this.input)
      this.busy = false
    },

    handleInputDelete () {
      this.handleInput({ value: '', })
    },
  },

}
</script>
