<template>
  <div id="sidebar">
    <div
      class="fixed top-0 left-0 h-screen w-screen cursor-pointer transition-colors duration-300 z-modal-0"
      :class="{
        'bg-transparent': !menuOpen,
        'pointer-events-none': !menuOpen,
        'bg-gray-700': !!menuOpen,
        'bg-opacity-50': !!menuOpen,
      }"
      @click="() => handleMenuToggle()"
    />
    <div
      class="fixed top-0 left-0 w-80 h-screen bg-gray-800 text-white pt-32 transition-transform duration-300 z-modal-1"
      :class="{
        'transform': !menuOpen,
        '-translate-x-full': !menuOpen,
        'translate-x-0': !!menuOpen,
      }"
    >
      <MenuLink :internal="true" text="Startseite" url="/" @click="() => handleMenuToggle(false)" />
      <MenuLink :internal="true" text="News" url="/neuigkeiten" @click="() => handleMenuToggle(false)" />
      <MenuLink :internal="true" text="Termine" url="/termine" @click="() => handleMenuToggle(false)" />
      <MenuLink :internal="true" text="Galerien" url="/galerien" @click="() => handleMenuToggle(false)" />
      <hr class="border-gray-600">
      <div v-for="item in items" :key="item.ID">
        <MenuLink v-if="!item.children" :internal="!item.useHref" :text="item.title" :url="item.url" @click="() => handleMenuToggle(false)" />
        <MenuLink v-else :text="item.title" :open="subMenuOpen === item.ID" @click="() => handleSubMenuToggle(item.ID)">
          <MenuLink
            v-for="child in item.children"
            :key="`${item.ID}-${child.ID}`"
            :internal="!child.useHref"
            :text="child.title"
            :url="child.url"
            class="pl-8"
            @click="() => handleMenuToggle(false)"
          />
        </MenuLink>
      </div>
      <hr class="border-gray-600">
      <MenuLink v-if="!!isAuthenticated" :internal="true" text="Mein Dashboard" url="/dashboard" @click="() => handleMenuToggle(false)" />
      <MenuLink v-if="!!isAuthenticated" :internal="false" text="Meine Profildaten" :url="`${wpUrl}/wp-admin/profile.php`" @click="() => handleMenuToggle(false)" />
      <MenuLink v-if="!!isAuthenticated" :internal="true" text="Logout" url="/logout" @click="() => handleMenuToggle(false)" />
      <MenuLink v-if="!isAuthenticated" :internal="true" text="Login" url="/login" @click="() => handleMenuToggle(false)" />
    </div>
    <MenuItem
      :nr="1"
      :main="true"
      image="@/assets/img/logo-bsc.svg"
      text="Menü"
      :hidden="menuOpen"
      @click="() => handleMenuToggle()"
    />
    <MenuItem
      :nr="2"
      icon="bi-front"
      text="Startseite"
      :hidden="menuOpen"
      @click="() => $router.push('/')"
    />
    <MenuItem
      :nr="3"
      icon="bi-journal-richtext"
      text="News"
      :hidden="menuOpen"
      @click="() => $router.push('/neuigkeiten')"
    />
    <MenuItem
      :nr="4"
      icon="bi-calendar3"
      text="Termine"
      :hidden="menuOpen"
      @click="() => $router.push('/termine')"
    />
    <MenuItem
      :nr="5"
      icon="bi-images"
      text="Galerien"
      :hidden="menuOpen"
      @click="() => $router.push('/galerien')"
    />
  </div>
</template>

<script>
import MenuItem from '@/components/MenuItem.vue'
import MenuLink from '@/components/MenuLink.vue'

export default {
  name: 'SideBar',

  components: {
    MenuItem,
    MenuLink,
  },

  data () {
    return {
      scrollEvents: ['scroll', 'wheel', 'tochstart', 'touchmove',],
      menuOpen: false,
      subMenuOpen: false,
    }
  },

  computed: {
    isAuthenticated () {
      return !!this.$store.state.auth.jwt
    },
    wpUrl () {
      return this.$store.state.runtime.URL_WP_API
    },
    items () {
      return this.$store.state.menu.main || []
    },
  },

  beforeMount () {
    const options = { capture: true, passive: false, }
    this.scrollEvents.forEach(
      event => window.addEventListener(event, this.handleScroll, options)
    )
  },

  async mounted () {
    await this.$store.dispatch('menu/loadMenu', {
      api: this.$wp,
      name: 'main',
    })
  },

  beforeDestroy () {
    this.scrollEvents.forEach(
      event => window.removeEventListener(event, this.handleScroll)
    )
  },

  methods: {
    handleMenuToggle (force) {
      this.menuOpen = force === undefined ? !this.menuOpen : force
    },

    handleSubMenuToggle (key = false) {
      this.subMenuOpen = this.subMenuOpen === key ? false : key
    },

    handleScroll (event) {
      if (this.menuOpen) {
        event.preventDefault()
        event.stopPropagation()
      }
    },
  },
}
</script>
