<template>
  <div class="wpcontent">
    <div
      v-if="!!date"
      class="mb-4"
      :class="{
        'text-sm': !highlightDate,
        'text-gray-300': !highlightDate,
        'text-2xl': !!highlightDate,
        'font-bold': !!highlightDate,
        'text-blue-600': !!highlightDate,
      }"
    >
      {{ date }}
    </div>
    <div class="flex flex-row flex-wrap">
      <div v-if="!!title" class="flex-grow flex-shrink">
        <h1>{{ title }}</h1>
      </div>
      <div class="flex-grow-0 flex-shrink-0">
        <slot />
      </div>
    </div>
    <img v-if="!!image" :alt="title || ''" :src="image" class="float-left mr-8 mt-4 rounded-2xl">
    {{ /* eslint-disable-next-line vue/no-v-html */ }}
    <div v-if="!!content" v-html="content" />
  </div>
</template>

<script>
export default {
  name: 'WpContent',

  props: {
    content: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    date: {
      type: String,
      default: '',
    },
    highlightDate: {
      type: Boolean,
      default: false,
    },
    image: {
      type: String,
      default: '',
    },
  },
}
</script>
