<template>
  <div>
    <Breadcrumbs :items="breadcrumbs" />
    <h1>Übersicht {{ showDatesToCome === undefined ? 'aller' : (showDatesToCome ? 'zukünftiger' : 'vergangener') }} Termine {{ initialNeedle ? `am ${uiInitialNeedle}` : '' }}</h1>
    <div class="flex-grow flex flex-row flex-nowrap justify-end items-center pb-4">
      <div class="pr-4">
        zukünftige Termine
      </div>
      <input ref="toggle" v-model="showDatesToCome" type="checkbox" class="toggle">
    </div>
    <DateList
      :key="getter"
      store="dates"
      :getter="getter"
      :getter-args="getterArgs"
      size="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/3 text-center"
      :fields="[
        'title',
        'uiFirstDay',
        'uiLastDay',
      ]"
      txt-empty="Keine Termine gefunden."
      txt-loading="Lade Termine"
      txt-placeholder="Suche nach bestimmten Terminen (in Titel und Datum)"
    >
      <template #default="slotProps">
        <DateCard :date="slotProps.entity" :stretch="true" />
      </template>
    </DateList>
  </div>
</template>

<script>
import DateCard from '@/components/DateCard.vue'
import DateList from '@/components/SearchableListHorizontal.vue'

export default {
  name: 'DateOverview',

  components: {
    DateCard,
    DateList,
  },

  data () {
    return {
      showDatesToCome: true,
    }
  },

  computed: {
    initialNeedle () {
      return this.showDatesToCome === undefined ? this.$route.query.datum : undefined
    },
    uiInitialNeedle () {
      return this.initialNeedle ? this.$wpDate(this.initialNeedle, this.$DTF.YYYY_MM_DD, this.$DTF.DD_MM_YYYY) : undefined
    },
    getter () {
      if (this.initialNeedle) {
        return 'dates/byDate'
      } else if (this.showDatesToCome) {
        return 'dates/datesToCome'
      } else {
        return 'dates/datesPassed'
      }
    },
    getterArgs () {
      return this.initialNeedle ? { date: this.initialNeedle, } : undefined
    },
    breadcrumbs () {
      return [
        { icon: 'bi-front', text: 'Startseite', to: '/', },
        { icon: 'bi-calendar3', text: 'Termine', to: '/termine', },
      ]
    },
  },

  mounted () {
    if (this.$route.query.datum) {
      this.showDatesToCome = undefined
      this.$refs.toggle.indeterminate = true
    }
    this.$store.dispatch('dates/load', {
      api: this.$wp,
    })
  },
}
</script>
