<template>
  <div v-if="isLoggedIn && !hasAttended">
    <Breadcrumbs :items="breadcrumbs" />
    <Loading v-if="loading" text="Lade Termin" inline />
    <WpContent v-else-if="!!item" :title="item.title" :date="uiDate" :highlight-date="true" />
    <hr class="mt-8">

    <div v-if="formState === states.SUCCESS" class="flex flex-col py-8 px-4 bg-gray-100">
      <div class="text-2xl font-bold pl-4">
        Viele Dank, dass Du Initiative zeigst.
      </div>
      <div class="pt-8 pl-4">
        Wenn nötig, melden uns demnächst bei Dir mit weiteren Einzelheiten zum Termin.
      </div>
      <div class="pl-4">
        Ansonsten sehen wir uns zum Termin. :-)
      </div>
      <div class="pt-12">
        <nuxt-link class="btn btn-link" :to="`/termine/${slug}`">
          &lt; zurück zum Termin
        </nuxt-link>
      </div>
    </div>

    <div v-else class="flex flex-row flex-wrap py-8 px-4 bg-gray-100">
      <div v-if="formState === states.ERROR_LOCAL" class="pl-6 pb-6 text-error">
        <div>
          Bitte prüfe nochmal alle Felder. Mindestens eines davon ist nicht korrekt ausgefüllt.
        </div>
      </div>

      <div v-if="formState === states.ERROR_REMOTE" class="pl-6 pb-6 text-error">
        <div>
          Deine Anmeldung konnte nicht gespeichert werden. Bitte versuche es später noch einmal.
          <br>
          Falls es dann immer noch nicht funktioniert, melde Dich bitte bei uns, damit wir nachschauen können, woran es liegt.
        </div>
      </div>

      <div class="w-full md:w-1/2 form-control px-4">
        <label class="label font-bold">
          <span class="label-text">Deine E-Mail-Adresse <sup class="text-secondary">*</sup></span>
        </label>
        <input
          v-model="attendeeEmail"
          type="text"
          placeholder="Deine.Email@the-bowmen.de"
          class="input input-bordered w-full"
          :class="{
            'input-error': $v.attendeeEmail.$error
          }"
        >
        <label v-if="$v.attendeeEmail.$error.required" class="label">
          <span class="label-text text-error">Bitte gib eine E-Mail-Adresse an, unter der wir Dich erreichen können.</span>
        </label>
        <label v-if="$v.attendeeEmail.$error.email" class="label">
          <span class="label-text text-error">Das scheint keine E-Mail-Adresse zu sein.</span>
        </label>
      </div>

      <div class="w-full md:w-1/2 form-control px-4">
        <label class="label font-bold">
          <span class="label-text">Dein Name <sup class="text-secondary">*</sup></span>
        </label>
        <input
          v-model="attendeeName"
          type="text"
          placeholder="Vor- und Nachname"
          class="input input-bordered w-full"
          :class="{
            'input-error': $v.attendeeName.$error
          }"
        >
        <label v-if="$v.attendeeName.$error.required" class="label">
          <span class="label-text text-error">Bitte teile uns Deinen Namen mit, damit wir wissen, wie wir Dich ansprechen können.</span>
        </label>
      </div>

      <div v-if="phoneEnabled" class="w-full md:w-1/2 form-control px-4">
        <label class="label font-bold">
          <span class="label-text">Deine Telefonnummer <sup v-if="phoneMandatory" class="text-secondary">*</sup></span>
        </label>
        <input
          v-model="attendeePhone"
          type="text"
          placeholder="Handy oder Festnetz"
          class="input input-bordered w-full"
          :class="{
            'input-error': $v.attendeePhone.$error
          }"
        >
        <label v-if="$v.attendeePhone.$error.required" class="label">
          <span class="label-text text-error">Um Dich schnell und einfach zu erreichen, gib uns bitte Deine Telefonnummer.</span>
        </label>
      </div>

      <div class="w-full flex flex-row flex-wrap pt-4">
        <div class="w-full md:w-1/2 form-control px-4 pt-4">
          <button
            class="w-full btn btn-primary"
            :class="{
              'loading': saving
            }"
            @click="handleSubmit"
          >
            Teilname bestätigen
          </button>
        </div>
        <div class="w-full md:w-1/2 form-control px-4 pt-4">
          <nuxt-link class="w-full btn btn-outline" :to="`/termine/${slug}`">
            Abbrechen und zurück zum Termin
          </nuxt-link>
        </div>
      </div>
    </div>
    <hr class="mb-8">
    <WpContent :content="item.content" />
  </div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'

import Breadcrumbs from '@/components/Breadcrumbs.vue'
import Loading from '@/components/LoadingIndicator.vue'
import WpContent from '@/components/WpContent.vue'

const states = {
  SUCCESS: 0,
  INPUT: 1,
  ERROR_LOCAL: 2,
  ERROR_REMOTE: 3,
}

export default {
  name: 'DateAttendancePage',

  components: {
    Breadcrumbs,
    Loading,
    WpContent,
  },

  data () {
    return {
      states,
      formState: states.INPUT,
      attendeeEmail: '',
      attendeeName: '',
      attendeePhone: '',
    }
  },

  validations () {
    const returnValue = {}

    returnValue.attendeeEmail = {
      required,
      email,
    }

    returnValue.attendeeName = {
      required,
    }

    if (this.phoneMandatory) {
      returnValue.attendeePhone = {
        required,
      }
    }

    return returnValue
  },

  computed: {
    slug () {
      return this.$route.params.pathMatch
    },
    me () {
      return this.$store.state.auth.me || {}
    },
    currentUserId () {
      return this.me.id
    },
    meName () {
      return this.$store.getters['auth/fullName'] || ''
    },
    meEmail () {
      return this.me.email || ''
    },
    isLoggedIn () {
      return !!this.$store.getters['auth/isAuthenticated']
    },
    loading () {
      return this.$store.state.dates.loading
    },
    saving () {
      return this.$store.state.dates.saving
    },
    item () {
      return this.$store.state.dates.entity || {}
    },
    hasAttended () {
      const teilnehmers = this.item.teilnehmer || []
      const teilnehmer = teilnehmers.find(tn => tn.userId === this.currentUserId) || {}
      return !!teilnehmer.id
    },
    uiDate () {
      return this.$store.getters['dates/uiDate']
    },
    phoneEnabled () {
      const itemAsk = this.item.ask || {}
      const itemPhone = itemAsk.phone || {}
      return itemPhone.enabled || false
    },
    phoneMandatory () {
      const itemAsk = this.item.ask || {}
      const itemPhone = itemAsk.phone || {}
      return itemPhone.mandatory || false
    },
    breadcrumbs () {
      return [
        { icon: 'bi-front', text: 'Startseite', to: '/', },
        { icon: 'bi-calendar3', text: 'Termine', to: '/termine', },
        { icon: 'bi-calendar3-event', text: this.item?.title, to: `/termine/${this.slug}`, },
        { icon: 'person-plus-fill', text: 'Anmeldung', },
      ]
    },
  },

  mounted () {
    if (this.isLoggedIn && !this.hasAttended) {
      this.$store.dispatch('dates/load', {
        api: this.$wp,
        slug: this.slug,
      }).then(() => {
        this.attendeeEmail = this.meEmail
        this.attendeeName = this.meName
      })
    } else {
      this.$router.replace(`/termine/${this.slug}`)
    }
  },

  methods: {
    async handleSubmit () {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.formState = states.ERROR_LOCAL
      } else {
        await this.$store.dispatch('dates/registerAttendee', {
          api: this.$wp,
          terminId: this.item.id,
          name: this.attendeeName,
          email: this.attendeeEmail,
          phone: this.attendeePhone,
          userId: this.currentUserId,
        })
          .then(() => {
            this.formState = states.SUCCESS
            this.$store.dispatch('dates/load', {
              api: this.$wp,
              slug: this.slug,
              forceSlug: true,
            })
          })
          .catch(() => {
            this.formState = states.ERROR_REMOTE
          })
      }
    },
  },
}
</script>
