<template>
  <div>
    <Breadcrumbs :items="breadcrumbs" />
    <Loading v-if="loading" text="Lade Termin" inline />
    <WpContent v-else-if="!!item" :title="item.title" :content="item.content" :date="uiDate" :highlight-date="true">
      <nuxt-link v-if="isLoggedIn && item.allowAttendees && !hasAttended" class="btn btn-primary" :to="`/termine/${slug}/anmeldung`">
        Jetzt anmelden!
      </nuxt-link>
      <div v-else-if="isLoggedIn && item.allowAttendees && hasAttended" class="bg-success py-3 px-6 rounded-lg text-white font-bold cursor-default">
        Du hast Dich bereits angemeldet. Danke.
      </div>
    </WpContent>
    <hr class="my-8">
    <div class="pb-4 text-2xl">
      Aktuelle Termine:
    </div>
    <DateList
      :exclude="item?.id || ''"
      :searchable="false"
      store="dates"
      getter="dates/datesToCome"
      size="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/3 text-center"
      txt-empty="Keine weiteren Termine gefunden."
    >
      <template #default="slotProps">
        <DateCard :date="slotProps.entity" :stretch="true" />
      </template>
    </DateList>
  </div>
</template>

<script>
import Breadcrumbs from '@/components/Breadcrumbs.vue'
import Loading from '@/components/LoadingIndicator.vue'
import DateCard from '@/components/DateCard.vue'
import DateList from '@/components/SearchableListHorizontal.vue'
import WpContent from '@/components/WpContent.vue'

export default {
  name: 'CatchAllNewsPage',

  components: {
    Breadcrumbs,
    Loading,
    DateCard,
    DateList,
    WpContent,
  },

  computed: {
    slug () {
      return this.$route.params.pathMatch
    },
    isLoggedIn () {
      return this.$store.getters['auth/isAuthenticated']
    },
    currentUserId () {
      return this.$store.state.auth.me?.id
    },
    loading () {
      return this.$store.state.dates.loading
    },
    item () {
      return this.$store.state.dates.entity || {}
    },
    hasAttended () {
      const teilnehmers = this.item.teilnehmer || []
      const teilnehmer = teilnehmers.find(tn => tn.userId === this.currentUserId) || {}
      return !!teilnehmer.id
    },
    uiDate () {
      return this.$store.getters['dates/uiDate']
    },
    breadcrumbs () {
      return [
        { icon: 'bi-front', text: 'Startseite', to: '/', },
        { icon: 'bi-calendar3', text: 'Termine', to: '/termine', },
        { icon: 'bi-calendar3-event', text: this.item?.title, },
      ]
    },
  },

  mounted () {
    this.$store.dispatch('dates/load', {
      api: this.$wp,
      slug: this.slug,
    })
  },
}
</script>
