<template>
  <div class="relative flex flex-row flex-nowrap w-full pb-4">
    <div class="flex-grow-0 flex-shrink-0">
      <img alt="" :src="Nocke" :style="Style">
    </div>
    <div class="flex-grow-0 flex-shrink-0">
      <img alt="" :src="Federn" :style="Style">
    </div>
    <div class="flex-auto">
      <img alt="" :src="Schaft" class="w-full" :style="Style">
    </div>
    <div class="flex-grow-0 flex-shrink-0">
      <img alt="" :src="Spitze" :style="Style">
    </div>
    <div class="absolute top-0 whitespace-nowrap transition-all" :style="{left: '' + upperIndent + '%'}">
      lakjsh dflkjah sldbfh lakjdsh flkajh sdlfh alkjdhsfl kajsd f
    </div>
  </div>
</template>

<script>
import Nocke from './nocke.png'
import Federn from './federn.png'
import Schaft from './schaft.png'
import Spitze from './spitze.png'

export default {
  name: 'BscArrow',

  data () {
    return {
      Nocke,
      Federn,
      Schaft,
      Spitze,
      Style: {
        height: '46px',
      },
      animationFrame: undefined,
      animationStart: undefined,
      upperIndent: 100,
    }
  },

  mounted () {
    this.animationFrame = requestAnimationFrame(this.onAnimation)
  },

  beforeDestroy () {
    cancelAnimationFrame(this.animationFrame)
  },

  methods: {
    onAnimation (now) {
      if (this.animationStart === undefined) {
        this.animationStart = now
      }

      const elapsed = now - this.animationStart
      if (elapsed >= (1000 / 30)) {
        this.upperIndent--
        if (this.upperIndent <= 0) {
          this.upperIndent = 100
        }
        this.animationStart = now
      }

      requestAnimationFrame(this.onAnimation)
    },
  },
}
</script>
