<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
  <head {{ HEAD_ATTRS }}>
    {{ HEAD }}
    <script lang="javascript">
      window.URL_WP_API = '<?php echo get_site_url(); ?>'
      window.SHOW_BREAKPOINTS="<?php echo get_theme_mod('development-breakpoint-helper-setting') === true ? 'true' : 'false'; ?>"
      window.HASHBASE="<?php echo get_theme_mod('bsc-security-authcode-setting'); ?>"
    </script>
  </head>
  <body {{ BODY_ATTRS }}>
    {{ APP }}
  </body>
</html>
