<template>
  <div id="layout" class="relative min-h-screen pl-0 md:pl-36 pr-0 bg-gradient-to-b from-gray-100 to-blue-200">
    <SideBar />

    <div class="max-w-screen-xl mx-auto min-h-screen flex flex-col bg-white">
      <div id="content" class="flex-auto pt-32 md:pt-4 px-4 md:px-16">
        <Nuxt />
      </div>
      <Footer class="flex-grow-0 flex-shrink-0 mt-28" />
    </div>

    <div v-if="showBreakpoints" class="fixed right-0 bottom-0 p-8 bg-blue-900 rounded-tl-2xl text-white z-modal-9">
      <span class="sm:hidden">XS</span>
      <span class="hidden sm:inline md:hidden">SM</span>
      <span class="hidden md:inline lg:hidden">MD</span>
      <span class="hidden lg:inline xl:hidden">LG</span>
      <span class="hidden xl:inline 2xl:hidden">XL</span>
      <span class="hidden 2xl:inline">2XL</span>
    </div>
  </div>
</template>

<script>
import Footer from '@/components/Footer.vue'
import SideBar from '@/components/SideBar.vue'

export default {
  name: 'DefaultLayout',

  components: {
    Footer,
    SideBar,
  },

  computed: {
    showBreakpoints () {
      return this.$store.state.runtime.SHOW_BREAKPOINTS
    },
  },
}
</script>
