<template>
  <div>
    <Breadcrumbs :items="breadcrumbs" />
    <Loading v-if="loading" text="Lade Beitrag" inline />
    <WpContent v-else-if="!!post" :title="post.title" :content="post.content" :date="`gepostet am ${post.uiDate}`" :image="post.thumbnail" />
    <hr class="my-8">
    <div class="pb-4 text-2xl">
      Weitere Neuigkeiten:
    </div>
    <NewsList
      :exclude="post.id"
      :searchable="false"
      store="news"
      size="w-full sm:w-1/2 md:w-1/2 xl:w-1/3"
      txt-empty="Keine weiteren Beiträge gefunden."
      txt-older="ältere Beiträge"
    >
      <template #default="slotProps">
        <NewsCard :post="slotProps.entity" :stretch="true" />
      </template>
    </NewsList>
  </div>
</template>

<script>
import Breadcrumbs from '@/components/Breadcrumbs.vue'
import Loading from '@/components/LoadingIndicator.vue'
import NewsCard from '@/components/NewsCard.vue'
import NewsList from '@/components/SearchableListHorizontal.vue'
import WpContent from '@/components/WpContent.vue'

export default {
  name: 'CatchAllNewsPage',

  components: {
    Breadcrumbs,
    Loading,
    NewsCard,
    NewsList,
    WpContent,
  },

  computed: {
    slug () {
      return this.$route.params.pathMatch
    },
    loading () {
      return this.$store.state.news.loading
    },
    post () {
      return this.$store.state.news.entity || {}
    },
    breadcrumbs () {
      return [
        { icon: 'bi-front', text: 'Startseite', to: '/', },
        { icon: 'bi-journal-richtext', text: 'Neugkeiten', to: '/neuigkeiten', },
        { icon: 'bi-file-earmark-richtext', text: this.post?.title, },
      ]
    },
  },

  mounted () {
    this.$store.dispatch('news/load', {
      api: this.$wp,
      slug: this.slug,
    })
  },
}
</script>
