<template>
  <div>
    <Breadcrumbs :items="breadcrumbs" />
    <h1>NEUIGKEITEN</h1>
    <NewsList
      store="news"
      size="w-full sm:w-1/2 md:w-1/2 xl:w-1/3"
      :fields="[
        'title',
        'excerpt',
        'uiDate',
      ]"
      txt-empty="Keine Beiträge gefunden."
      txt-loading="Lade Beiträge"
      txt-more="Aber es gibt noch Beiträge, die noch nicht geladen wurden."
      txt-older="ältere Beiträge"
      txt-placeholder="Suche nach bestimmten Beiträgen (in Titel, Datum, Text)"
    >
      <template #default="slotProps">
        <NewsCard :post="slotProps.entity" :stretch="true" />
      </template>
    </NewsList>
  </div>
</template>

<script>
import NewsCard from '@/components/NewsCard.vue'
import NewsList from '@/components/SearchableListHorizontal.vue'

export default {
  name: 'NewsOverview',

  components: {
    NewsCard,
    NewsList,
  },

  computed: {
    breadcrumbs () {
      return [
        { icon: 'bi-front', text: 'Startseite', to: '/', },
        { icon: 'bi-journal-richtext', text: 'Neugkeiten', to: '/neuigkeiten', },
      ]
    },
  },

  mounted () {
    this.$store.dispatch('news/load', {
      api: this.$wp,
    })
  },
}
</script>
