<template>
  <div class="w-1/8">
    <nuxt-link :to="hasDate ? `/termine?datum=${linkDay}` : '#'">
      <div
        class="w-full py-2 transition-colors duration-300"
        :class="{
          'text-blue-300': text,
          'text-gray-300': !isInside,
          'bg-gray-600': !isInside && hasDate,
          'text-white': !isInside && hasDate,
          'text-red-300': isInside && isWeekend,
          'text-white': isInside && hasDate,
          'bg-blue-600': isInside && hasDate,
          'hover:bg-blue-300': !text,
          'border-blue-300': isToday,
          'border': isToday,
          'border-solid': isToday,
          'cursor-pointer': hasDate,
          'cursor-default': !hasDate,
        }"
      >
        {{ text ? text : uiDay }}
      </div>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  name: 'DayView',

  props: {
    day: {
      type: Date,
      default: undefined,
    },
    text: {
      type: String,
      default: '',
    },
  },

  computed: {
    month () {
      return this.$store.state.dates.calendarMonth
    },
    uiDay () {
      return this.day ? this.$dateFns.format(this.day, this.$DTF.DAY) : ''
    },
    linkDay () {
      return this.day ? this.$dateFns.format(this.day, this.$DTF.YYYY_MM_DD) : ''
    },
    isInside () {
      return this.day ? this.$dateFns.getMonth(this.day) === this.month : true
    },
    isToday () {
      return this.day ? this.$dateFns.isToday(this.day) : false
    },
    isSunday () {
      return this.day ? this.$dateFns.isSunday(this.day) : false
    },
    isWeekend () {
      const isSaturday = this.day ? this.$dateFns.isSaturday(this.day) : false
      return isSaturday || this.isSunday
    },
    dateIndex () {
      return this.$store.getters['dates/index'] || []
    },
    hasDate () {
      return this.dateIndex.includes(this.linkDay)
    },
  },
}
</script>
