<template>
  <div class="py-4">
    <div class="w-full border border-solid border-gray-300 rounded-2xl">
      <SwitchYear :value="year" @input="handleNewYear" />
      <Loading v-if="(!month && month !== 0) || !year" />
      <Month v-else />
      <SwitchMonth :value="month" @input="handleNewMonth" />
    </div>
  </div>
</template>

<script>
import Month from './Month.vue'
import SwitchMonth from './SwitchMonth.vue'
import SwitchYear from './SwitchYear.vue'
import Loading from '@/components/LoadingIndicator.vue'

export default {
  name: 'DateCalendar',

  components: {
    Loading,
    Month,
    SwitchMonth,
    SwitchYear,
  },

  data () {
    return {
      now: undefined,
    }
  },

  computed: {
    year () {
      return this.$store.state.dates.calendarYear
    },
    month () {
      return this.$store.state.dates.calendarMonth
    },
  },

  mounted () {
    this.now = new Date()
    this.handleNewYear(this.$dateFns.getYear(this.now))
    this.handleNewMonth(this.$dateFns.getMonth(this.now))
  },

  methods: {
    handleNewYear (value) {
      this.$store.commit('dates/setValue', {
        key: 'calendarYear',
        value,
      })
    },
    handleNewMonth (value) {
      this.$store.commit('dates/setValue', {
        key: 'calendarMonth',
        value,
      })
    },
  },
}
</script>
