<template>
  <div class="border-y border-solid border-gray-300">
    <Week />
    <Week :start="monday_1" />
    <Week :start="monday_2" />
    <Week :start="monday_3" />
    <Week :start="monday_4" />
    <Week :start="monday_5" />
    <Week :start="monday_6" />
  </div>
</template>

<script>
import { previousMonday, nextMonday } from 'date-fns'
import Week from './Week.vue'

export default {
  name: 'MonthView',

  components: {
    Week,
  },

  computed: {
    year () {
      return this.$store.state.dates.calendarYear
    },
    month () {
      return this.$store.state.dates.calendarMonth
    },
    firstOfMonth () {
      return (this.year !== undefined && this.month !== undefined) ? new Date(this.year, this.month, 1) : undefined
    },
    monday_1 () {
      return this.firstOfMonth ? previousMonday(this.firstOfMonth) : undefined
    },
    monday_2 () {
      return this.monday_1 ? nextMonday(this.monday_1) : undefined
    },
    monday_3 () {
      return this.monday_2 ? nextMonday(this.monday_2) : undefined
    },
    monday_4 () {
      return this.monday_3 ? nextMonday(this.monday_3) : undefined
    },
    monday_5 () {
      return this.monday_4 ? nextMonday(this.monday_4) : undefined
    },
    monday_6 () {
      return this.monday_5 ? nextMonday(this.monday_5) : undefined
    },
  },
}
</script>
