<template>
  <div class="flex flex-row flex-nowrap items-center rounded-t-2xl text-xl bg-gray-100">
    <div
      class="flex-grow-0 flex-shrink-0 bi-chevron-left px-4 hover:text-blue-300"
      @click="$emit('input', value - 1)"
    />
    <div class="flex-grow flex-shrink text-center text-4xl py-2">
      {{ value }}
    </div>
    <div
      class="flex-grow-0 flex-shrink-0 bi-chevron-right px-4 hover:text-blue-300"
      @click="$emit('input', value + 1)"
    />
  </div>
</template>

<script>
export default {
  name: 'SwitchYear',

  props: {
    value: {
      type: Number,
      default: undefined,
    },
  },
}
</script>
