<template>
  <div class="flex flex-row flex-nowrap items-center rounded-b-2xl text-xl bg-gray-100">
    <div
      class="flex-grow-0 flex-shrink-0 bi-chevron-left px-4 hover:text-blue-300"
      @click="$emit('input', (12 + (value - 1)) % 12)"
    />
    <div class="flex-grow flex-shrink text-center text-4xl py-2">
      {{ monthName(value) }}
    </div>
    <div
      class="flex-grow-0 flex-shrink-0 bi-chevron-right px-4 hover:text-blue-300"
      @click="$emit('input', (12 + (value + 1)) % 12)"
    />
  </div>
</template>

<script>
export default {
  name: 'SwitchMonth',

  props: {
    value: {
      type: Number,
      default: undefined,
    },
  },

  methods: {
    monthName (monthOfYear) {
      const names = [
        'Januar',
        'Februar',
        'März',
        'April',
        'Mai',
        'Juni',
        'Juli',
        'August',
        'September',
        'Oktober',
        'November',
        'Dezember',
      ]
      return names[monthOfYear]
    },
  },
}
</script>
