<template>
  <div class="border-b last:border-b-0 border-solid border-gray-100">
    <div v-if="!start" class="flex flex-row flex-nowrap items-center w-full text-center">
      <Day text="KW" />
      <Day text="Mo" />
      <Day text="Di" />
      <Day text="Mi" />
      <Day text="Do" />
      <Day text="Fr" />
      <Day text="Sa" />
      <Day text="So" />
    </div>
    <div v-else class="flex flex-row flex-nowrap items-center w-full text-center">
      <Day :text="week" />
      <Day :day="day(1)" />
      <Day :day="day(2)" />
      <Day :day="day(3)" />
      <Day :day="day(4)" />
      <Day :day="day(5)" />
      <Day :day="day(6)" />
      <Day :day="day(7)" />
    </div>
  </div>
</template>

<script>
import Day from './Day.vue'

export default {
  name: 'WeekView',

  components: {
    Day,
  },

  props: {
    start: {
      type: Date,
      default: undefined,
    },
  },

  computed: {
    week () {
      return this.start ? this.$dateFns.format(this.start, this.$DTF.WEEK) : undefined
    },
  },

  methods: {
    day (number) {
      return this.start ? this.$dateFns.addDays(this.start, number - 1) : undefined
    },
  },
}
</script>
